@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logo {
  width: 5.37756rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.gamer-text {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0b0223;
}

.gamer-text span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.all-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.follow-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.follow-links {
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}


/* responsive media queries */

/* for small devices */

@media screen and (max-width: 576px) {
  .nav-div{
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

/* for medium devices */

@media screen and (min-width: 576px) and (max-width: 960px){
  .nav-div{
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}