@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logo {
  width: 5.37756rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.gamer-text {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0b0223;
}

.gamer-text span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.all-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.follow-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.follow-links {
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.banner-text-section {
  background-image: linear-gradient(
      45deg,
      rgba(245, 244, 244, 0.438),
      rgba(223, 220, 220, 0.671)
    ),
    url("images/6148364_3135763.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  width: 60vw;
  border-radius: 0 20px 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text-section-1 h2 {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.banner-text-section-1 h1 {
  text-align: center;
  font-family: Work Sans;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 15px;
}

.banner-text-section-1 p {
  color: #2a2831;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.sign-in {
  display: inline-flex;
  margin: 30px auto 0 auto;
  padding: 1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  border: none;
  border-radius: 3rem;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);

  color: #fff;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.go-rogue {
  display: inline-flex;
  margin: 30px auto 0 auto;
  padding: 1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  border: none;
  border-radius: 3rem;
  background: #4ec5f7;

  color: #fff;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.banner-img-section img {
  width: 35vw;
  margin-right: 8rem;
}

.play-text-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}

.play-text h3 {
  text-align: right;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */

  color: #0b0223;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
}

.play-text h3 span {
  text-align: right;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
}

.play-text p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.play-instantly {
  display: flex;
  gap: 7rem;
  margin-top: 90px;
}

.play-img img:nth-child(1) {
  width: 25vw;
}

.play-img img:nth-child(2) {
  width: 12.5vw;
  position: relative;
  right: 400px;
  top: 50px;
}

footer {
  margin-top: 100px;
  padding-top: 80px;
  background-color: #0b0223;
}

.footer-logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-text h3 {
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 2.8125rem;
}

.footer-logo-text h3 span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-pages-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-pages-links p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.footer-pages-links a {
  margin-top: 30px;
  text-decoration: none;
}

.footer-icons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.policy-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.policy-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  font-family: Work Sans;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;

  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 0.9rem;
}

.online-games-images {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.online-games img {
  width: 15rem;
  flex-shrink: 0;
}

.online-games h3 {
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 2.8125rem;
  color: #0b0223;
}

.online-games h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.caption-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.caption-container div {
  margin-top: 10px;
  width: 15rem;
}

.caption-container div caption {
  color: #534C64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
}

/* responsive media queries */

/* for small devices */

@media screen and (max-width: 576px) {
  .nav-div {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-text-section {
    margin: 0;
    width: 96vw;
    height: 100vh;
  }

  .banner-img-section img {
    width: 75vw;
    margin: 0;
  }

  .play-instantly {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .play-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .play-text p {
    text-align: center;
    font-size: 1rem;
  }

  .play-text h3 {
    text-align: center;
    font-size: 1.8rem;
  }

  .play-text h3 span {
    text-align: center;
    font-size: 1.8rem;
  }

  .play-img img:nth-child(1) {
    width: 70vw;
    margin: 0 0 0 70px;
    padding: 0;
  }

  .play-img img:nth-child(2) {
    width: 25vw;
    position: relative;
    left: 40px;
    top: -80px;
  }

  .online-games-images{
    flex-direction: column;
  }
  .caption-container{
    visibility: hidden;
  }
}

/* for medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-div {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-text-section {
    margin: 0;
    width: 96vw;
    height: 100vh;
  }

  .banner-img-section img {
    width: 75vw;
    margin: 0;
  }

  .play-instantly {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .play-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .play-text p {
    text-align: center;
    font-size: 1rem;
  }

  .play-text h3 {
    text-align: center;
    font-size: 1.8rem;
  }

  .play-text h3 span {
    text-align: center;
    font-size: 1.8rem;
  }

  .play-img img:nth-child(1) {
    width: 70vw;
    margin: 0 0 0 70px;
    padding: 0;
  }

  .play-img img:nth-child(2) {
    width: 25vw;
    position: relative;
    left: 40px;
    top: -80px;
  }

  .online-games-images{
    flex-direction: column;
  }
  .caption-container{
    visibility: hidden;
  }
}
